anyio==3.6.2
click==8.1.3
colorama==0.4.6
fastapi==0.95.0
fuzzywuzzy==0.18.0
h11==0.14.0
httptools==0.5.0
idna==3.4
inexactsearch==1.0.2
Jinja2==3.1.2
MarkupSafe==2.1.2
pydantic==1.10.7
pyenchant==3.2.2
pypdf2==3.0.1
pyspellchecker==0.7.1
python-dotenv==1.0.0
PyYAML==6.0
silpa-common==0.3
sniffio==1.3.0
soundex==1.1.3
spellchecker==0.4
starlette==0.26.1
typer==0.7.0
typing-extensions==4.5.0
uvicorn==0.21.1
watchfiles==0.18.1
websockets==10.4
